<div id="light-toggle-buttons">
  <button class="btn btn-success" id="light-on">Light On</button>
  <button class="btn btn-danger" id="light-off">Light Off</button>
</div>

<script type="text/javascript">
$(function() {
  $("#light-on").click(() => {
    OctoPrint.simpleApiCommand("lighttoggle", "on").done(res => {
      console.log("Light turned on");
    });
  });
  $("#light-off").click(() => {
    OctoPrint.simpleApiCommand("lighttoggle", "off").done(res => {
      console.log("Light turned off");
    });
  });
});
</script>
